.nav {
  background-color: #f5f5f5;
}

.nav-item {
  text-transform: uppercase;
  color: #fff;
}
.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #00d1b2;
  background-color: transparent;
  border: 1px solid #00d1b2;
  padding: 10px 20px;
  height: 40px;
}

#qr_ajax{
  height: 250px;
  overflow:auto;

}

#all_notifs{
  padding: 5px;
}
#notif_text{
  font-size: 14px;
  padding: 2px;
}
.google-logo {
  width: 144px;
  height: 18px;
  float: right;
}

#map {
  max-height: 70%;
}

body.search {
  background-image: url('/projet/assets/img/road-people.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: border-box;
  background-attachment: fixed;
  background-size: cover;
}

.half-alpha {
  background-color: rgba(255,255,255,0.7);
}

#nav_no_verify {
  background-color: rgba(215, 120, 32, 0.7);
  padding: 10px;
  text-align: center;
}

.review_img{
  border-radius: 50px;
}
.profil_img{
  border-radius: 90px;
}
#color-icon{
  color :red;
  background-color: red;
}



// PROFIL CSS https://dansup.github.io/bulma-templates/css/profile.css

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.container.profile {
  margin-top:50px;
}
.profile-heading {
  margin: 20px 0;
  padding-bottom: 30px;
}
.profile-heading .name {
  border-right: 1px solid #f1f1f1;
  margin:-30px 0;
  padding: 40px 30px 0 30px;
}
.profile-heading .followers, .profile-heading .following {
  border-right: 1px solid #f1f1f1;
  margin:-30px 0;
  padding: 70px 30px;
}
.profile-heading .likes {
  margin:-30px 0;
  padding: 70px 30px;
}
.profile-heading .stat-key {
  font-size: 20px;
  font-weight: 200;
}
.profile-heading .stat-val {
  font-size: 35px;
  font-weight: bold;
}
.profile-options {
  background-color: #f1f1f1;
  margin:-20px 0 20px 0;
}
.profile-options .link a {
  padding:18px;
  font-size: 18px;
}
.profile-options .link .icon {
  font-size: 16px;
  padding-top:2px;
}
.tagline {
  padding:20px 0;
  font-size: 16px;
  line-height: 1.4;
}
.avatar {
  float: right;
}
.follow {
  float: right;
}
.avatar img {
  border-radius: 200px;
}
p.title.is-bold {
  font-weight: bold;
}
.card .timestamp {
  float:right;
  color:#bbb;
}
